Cython
IPython
anyio
appnope
arrow
asttokens
attrs
autocommand
autoray
babel
backcall
bleach
certifi
cffi
comm
contourpy
cotengra
cryptography
cycler
cython
cytoolz
debugpy
decorator
defusedxml
dill
docopt
executing
fastjsonschema
fontTools
fqdn
h11
httpcore
httpx
idna
inflect
ipykernel
ipywidgets
isoduration
jedi
jinja2
json5
jsonpointer
jsonschema
jupyter
jupyterlab
kiwisolver
llvmlite
markupsafe
matplotlib
mistune
mpmath
mthree
nbclient
nbconvert
nbformat
networkx
notebook
numba
numpy
orjson
overrides
packaging
pandas
pandocfilters
parso
pbr
pexpect
pickleshare
pip
pipdeptree
pipreqs
platformdirs
psutil
ptyprocess
pycparser
pydantic
pydot
pygments
pylatexenc
pyparsing
pytz
qiskit
quimb
referencing
requests
runningman
rustworkx
scipy
seaborn
send2trash
setuptools
six
sniffio
soupsieve
stevedore
symengine
sympy
terminado
tinycss2
tomli
toolz
tornado
tqdm
traitlets
typeguard
urllib3
wcwidth
webcolors
webencodings
wheel
yarg
zipp
